* {
  padding: 0;
  margin: 0;
}

#bin {
  position: absolute;
  background: url("./assets/bin.png") no-repeat;
  background-size: contain;
  bottom: 0;
  padding: 4rem 3rem;
  left: 50%;
  transform: translate(-50%, 0);
}

#trash {
  position: absolute;
  background: url("./assets/trash.png") no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  padding: 2rem;
  right: 50%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.score-bar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.modal {
  padding: 2rem;
  font-size: 3rem;
  position: absolute;
  top: 25%;
  left: 50%;
  background-color: blanchedalmond;
  box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem black;
  transform: translateX(-50%);
  transition: all 0.5s;
}
.modal button {
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  display: block;
  font-size: 1.5rem;
  cursor: pointer;
}

.hidden {
  /* display: none; */
  /* visibility: none; */
  opacity: 0;
}
