<%-include('header')%>
    <h3 class="intro-heading">
        Welcome To Catch The Trash
    </h3>
   
    <ul class="intro-list">
        <li>Start the Game <a href="/game">Here</a></li>
        <li>The Timer runs for 15 seconds</li>
        <li>Drag and drop the trash to trashcan to score a point</li>
    </ul>
    <%-include('footer')%>